/* Genereal {{ */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
  src: url("../fonts/OpenSans-Regular.wolf");
  src: url("../fonts/OpenSans-Regular.wolf2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf");
  src: url("../fonts/OpenSans-Bold.wolf");
  src: url("../fonts/OpenSans-Bold.wolf2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 51.2%;
  /* 8px */
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
	font-size: 1.75rem;
}

h1 {
  font-size: 3.5rem;
  color: #FFFFFF;
  text-transform: uppercase;
}

h2 {
  font-size: 6.25rem;
  color: #c1c1c1;
  text-transform: uppercase;
}

h3 {
  font-size: 3rem;
  color: #c1c1c1;
  text-transform: uppercase;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
/* }} general */

/* Body {{ */
.top {
  background-image: url("../images/football_767.jpg");
  min-height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-color: #9E9E9E;
  background-size: cover;
}

.top::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #0f0f31;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
}

.box_header_content{
  position: relative;
  z-index: 2;
}

.logo_top {
  text-align: center;
}

.logo {
  color: #ffffff;
  height: 4rem;
  margin: 3.5rem auto 8rem auto;
}

.header_slogan {
  display: block;
  margin: 8rem  2.5rem 5.3rem;
}

.header_for_left {
  text-align: left;
  display: inline-block;
  margin-bottom: 30px;
}

.header_what_right {
  text-align: left;
  display: inline-block;
  margin-left: 14%;
}

.button_box {
  margin: 8.3rem auto;
}

.button {
  padding: 5px 9% 3px 19%;
  width: 87%;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  margin: 3% 6%;
  background-color: #9b59b6;
  border-radius: 25px;
  display: flex;
}

.button_text {
  text-align: left;
}

.button_text_bold {
  font-weight: 700;
  text-align: left;
}

.logo_box {
  fill: #ffffff;
  height: 25px;
  width: 20px;
  padding-right: 10px;
}

.athlets {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.section_title {
  margin-left: 6%;
}

.section_png {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  /* position: absolute; */
}

.post_container {
  padding: 16% 6%;
}

.post_header {
  display: inline-flex;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.number_post {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.75rem;
  position: relative;
  radius
}

.number_post_white {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.75rem;
  position: relative;
}

.post_title {
  padding-left: 3.5%;
}

/* убрать повторения  */
.number_post::after {
 content: "";
 position: absolute;
 bottom: 7px;
 left: 0px;
 width: 15px;
 height: 4px;
 background-color: #5e42b0;
 right: 0;
 border-radius: 25px;
 margin: 0 auto;
}

.number_post_white::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 0px;
  width: 15px;
  height: 4px;
  right: 0;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 25px;
}

.collaboration {
  background-color: #f5f4f9;
}
.growth {
  background-color: #5e42b0;
}

.connection {
  background-color: #fafafa;
}
